<!--
  Generated template for the HomeDinerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>homeDiner</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>
	<ion-toolbar>
		<button ion-button menuToggle icon-only (click)="menuToggle()">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Orders</ion-title>
	</ion-toolbar>
	<ion-toolbar>
		<ion-segment [(ngModel)]="orderFilter" color="light">
			<ion-segment-button value="all">All</ion-segment-button>
			<ion-segment-button value="dine-in" icon-right>Dine-in <ion-icon name="cafe" class="blue"></ion-icon></ion-segment-button>
			<ion-segment-button value="take-out" icon-right>Take-out <ion-icon name="walk" class="purple"></ion-icon></ion-segment-button>
			<ion-segment-button value="delivery" icon-right>Delivery <ion-icon name="bicycle" class="red" ></ion-icon></ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-menu id="diner-menu" type="overlay" [content]="dineContent">
	<ion-content>
		<ion-list no-lines>
			<ion-item>
				<ion-avatar item-start>
					<img src="assets/imgs/DinerAvatar.png" (click)="openProfile()">
				</ion-avatar>
				<h2 text-nowrap (click)="openProfile()" color="secondary">{{user.name}}</h2>
				<p text-nowrap icon-start>
					{{user.email}}
				</p>
			</ion-item>
			<ion-item (click)="openFanbase()">
				<p text-nowrap icon-start>
					<ion-icon name="contacts" class="yellow"></ion-icon> 
					Fans: {{fans}}
				</p>
			</ion-item>
		</ion-list>
		<ion-list>
			<button ion-item icon-start (click)="openProfile()">
				<ion-icon name="person" class="green"></ion-icon> 
				Profile
			</button>

			<button ion-item icon-start (click)="openNotifications()">
				<ion-icon name="notifications" class="blue"></ion-icon>
				Notifications
				<ion-badge *ngIf="newNotificationCount > 0" item-end>{{ newNotificationCount }}</ion-badge>
			</button>
			<button ion-item icon-start (click)="openMenu()">
				<ion-icon name="paper" class="purple"></ion-icon> 
				Menu
			</button>
			<button ion-item icon-start (click)="openGenerator()">
				<ion-icon name="qr-scanner" class="red"></ion-icon> 
				Generate
			</button>
			<button ion-item icon-start (click)="openOrderHistory()">
				<ion-icon name="filing" class="orange"></ion-icon>
				Order History
			</button>
			<!-- <button ion-item icon-start (click)="openAnalytics()">
				<ion-icon name="analytics" class="yellow"></ion-icon>
				Analytics
			</button> -->
		</ion-list>
	</ion-content>
	<ion-footer padding>
		<button ion-button block outline round icon-start color="danger" (click)="logout()">
			<ion-icon color="danger" name="log-out"></ion-icon> 
			Logout
		</button>
	</ion-footer>
</ion-menu>

<ion-nav #dineContent [root]="HomeDinerPage"></ion-nav>

<ion-content padding>
	<ion-list no-lines>
		<ion-item *ngFor="let order of ordersList" class="order-list" (click)="openOrderDetails(order.id)" [class.hidden]="!correctOrderType(order.type)">
			<ion-avatar item-start>
				<img src="assets/imgs/CustAvatar.png">
			</ion-avatar>
			<h2>{{order.customer}}</h2>
			<p class="price float-text-right green">{{order.cost}}</p>
			<p class="count"><span class="blue">{{order.totalItems}} items</span> {{ order.timestamp.time }} {{ order.timestamp.day }}</p>
			<span *ngIf="order.type == 0" class="typeIndicator blue"></span>
			<span *ngIf="order.type == 1" class="typeIndicator violet"></span>
			<span *ngIf="order.type == 2" class="typeIndicator red"></span>
		</ion-item>
	</ion-list>
	<p class="empty-message" *ngIf=" ordersList.length < 1">
		<span *ngIf="orderFilter == 'all'"><ion-icon name="paper"></ion-icon>You don't have any orders yet.</span>
		<span *ngIf="orderFilter == 'dine-in'"><ion-icon name="cafe"></ion-icon>You don't have any orders yet.</span>
		<span *ngIf="orderFilter == 'take-out'"><ion-icon name="walk"></ion-icon>No take-outs to prepare.</span>
		<span *ngIf="orderFilter == 'delivery'"><ion-icon name="delivery"></ion-icon>No deliveries to do.</span>
	</p>
</ion-content>
