<ion-header>

  <ion-navbar>
    <ion-title>Choose a diner</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item *ngFor="let diner of dinerList" (click)="loadDinerMenu(diner.id)">
			<ion-avatar item-left>
				<img src="assets/imgs/DinerAvatar.png">
			</ion-avatar>
			<h2>{{ diner.name }}</h2>
		</ion-item>
	</ion-list>
	<p *ngIf="dinerList.length < 1" class="empty-message">
		<span><ion-icon name="heart"></ion-icon>You must have a favorite cafe.</span>
	</p>
</ion-content>
