page-diner-menu {
	.price{
		text-align: right;
		width: 2.5em;
		position: absolute;
		right: 1em;
		top: 50%;
		transform: translate(0, -50%);
		color: #32db64;
		background: linear-gradient(to left, #222, #222, rgba(0,0,0,0));
	}
	
	ion-navbar .bar-button-md[icon-only] ion-icon{
		font-size: 2.5em;
	}

	.list-header-md{
		margin-bottom: 0;
	}
}
