page-home-cust {

	::-webkit-scrollbar { 
	    display: none; 
	}

	.scroll {
		height: 100%
	}

	#map {
		float: right;
		min-height: 50vh;
		width: 100%;
		height: 50vh;

		@media screen and (max-width: 576px) {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 25vh;
			width: 100%;
			min-height: 37.5vh;
		}
	}

	ion-content{
		// background: linear-gradient($red, $blue)!important;
	}

	#diner-container{
		display: flex;
		width: 100%;
		overflow-x: scroll;
		padding: 10px;

		.diner{
			width: 10em;
			margin-right: 10px;
			background-color: white;
			box-shadow: $light-shadow;
			// grid-template-areas: "";
			color: #555;

			.display-image{
				display: block;
				width: 10em;
				height: 10em;
				object-fit: cover;
				object-position: center;
			}

			.name{
				margin: 0;
				font-size: $regular;
				font-weight: normal;
			}

			.display-image ~ *:not(.capacity-bar){
				padding: 0 10px; 
			}

			.capacity{
				// display: block;
				// color: white;
			}

			.capacity-bar{
				width: 100%;
				display: block;
				background-color: #EEE;

				.bar{
					display: block;
					width: 50%;
					height: 0.25em;
					background-color: $green;
				}
			}
		}
	}

	
}
