page-item-add {
	.item-image{
		position: relative;
		max-height: 15em;
		max-width: 15em;
		width: 100%;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto;
	}

	.item-image img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.item-image button{
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0.2);
		opacity: 0;
		color: white;
	}

	.item-image button:hover{
		opacity: 1;
	}

	input[type="text"]{
		display: block;
		border-radius: 5px;
		width: 100%;
		border: 1px solid #DDD;
		font-size: $regular;
		margin: 10px 0;
		padding: 0.25em 0.5em;
	}

	textarea{
		display: block;
		border-radius: 5px;
		width: 100%;
		resize: vertical;
		font-size: $regular;
		border: 1px solid #DDD;
		padding: 0.25em 0.5em;
	}

	.add-item-button{
		background-color: $green;
		color: white;
		font-size: $regular;
		width: 100%;
		border-radius: 5px;
		padding: 0.5em 1em;
		margin-top: 0.5em;
	}

	.add-item-button ion-icon{
		font-size: $regular;
	}
}
