page-cust-view-order {
	.price{
		text-align: right;
		position: absolute;
		right: 1em;
		top: 50%;
		transform: translate(0, -50%);
		color: $green;
		background: linear-gradient(to left, #222, #222, rgba(0,0,0,0));
	}

	.quantity{
        color: $blue;
    }

    ion-icon[name="add"]{
		margin-top: -3px;
	}
}
