// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Color values
$red	: #E91E63;
$yellow	: #FDD835;
$green	: #acdc39;
$blue	: #00BCD4;
$violet	: #AB47BC;
$dark-yellow	: #facc2e;

// Shadow values
$light-shadow: 0 1px 5px rgba(0,0,0,0.25);
$dark-shadow: 0 1px 10px rgba(0,0,0,0.4);

$gradient-background: linear-gradient(to right, $red, $blue);
$gradient-background-primary: linear-gradient(to bottom right, $red, $blue);
$gradient-background-secondary: linear-gradient(to left, $red, $blue);

// Text size values
$regular: 1.3em;
$medium : 2em;
$large  : 3em;

ion-spinner {
	* {
		stroke: $green!important;
		height: 50px!important;
		width: 50px!important;
	}

	&.spinner-circles circle,
	&.spinner-bubbles circle,
	&.spinner-dots circle {
		fill: $green!important;
	}
}

.bubble-badge{
	// font-family: "Roboto Light";
	font-size: 0.6em;
	border-radius: 50%;
	height: 2rem!important;
	width: 2rem!important;
	border: 2px solid #222;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
}

.text-md-dark{
	color: #888;
}

// $toast-ios-background: $red;
// $toast-md-background: $red;

// Customized font
// @font-face {
// 	font-family: Raleway;
// 	src: url("../assets/fonts/Raleway-Regular.ttf");
// }

// *:not(ion-icon){
// 	font-family: Raleway!important;
// }

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
// ::-webkit-scrollbar-track {
//     background: #f1f1f1; 
// }

/* Handle */
// ::-webkit-scrollbar-thumb {
//     background: #888; 
// }

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #555; 
// }

// .input-wrapper,
// .item-inner,
// ion-label.label{
// 	min-height: unset;
// 	max-height: unset;
// 	padding: unset;
// 	margin: unset;
// 	height: unset;
// 	width: unset;
// 	display: unset;
// }

ion-label.label{
	margin: 10px 8px 10px 0;
}

ion-item-sliding ion-item-options button{
	min-width: 62px;	
	width: 62px;
}

// ion-item-sliding ion-item-options button .button-inner{
// 	display: inline-flex;
// 	align-items: center;
// }

ion-item-sliding ion-item-options ion-icon{
	font-size: 2em;
	transform: translate(0, 0.15em);
}

img{
    object-fit: cover;
    object-position: center;
}

// ion-toggle{
// 	transform: translate(-1em, -1em);
// }

// .toggle-md{
// 	contain: unset;
// }

// .toggle-md .toggle-icon{
// 	top: -8px;
// }


.search-template{
	display: flex;
	background-color: white;
	box-shadow: $light-shadow;
}

.search-template > input[type="text"]{
	font-size: 1.25em;
	display: block;
	width: 100%;
	padding: 0.5em 1em;
	background-color: transparent;
	color: #333;
	border: none;
}

.search-template > input[type="text"]::placeholder{
	color: #888;
}

.search-template > button{
	font-size: 1.25em;
	padding: 0.5em 0.75em;
	color: white;
	background-color: $red;
}

.container{
	// min-height: 50vh;
}

.container.centered-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

// ion-navbar{
// 	background-color: red;
// }

ion-title{
	color: white;
}

.warning{
	background-color: $yellow;
	color: white;
}

.warning:hover,
.warning:focus{
	background-color: $dark-yellow;
}

.sidemenu-pp{
	height: 13.5em;	
	width: 100%;
	position: relative;
	filter: brightness(80%);
	object-fit: cover;
	object-position: center;
	transition: 0.5s; 
	cursor: pointer;
}

.sidemenu-pp:hover{
	filter: brightness(100%);
}

.sidemenu-pp::after{
	content: "";
	background-color: black;
	opacity: 0.7;
	display: block;
	height: 9em;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

// #side-menu .email{
// 	padding-left: 10px;
// 	color: rgba(0,0,0,0.5);
// }

// #side-menu button ion-icon{
// 	color: $red;
// }

// #side-menu button:hover ion-icon[name="arrow-round-forward"]{
// 	right: 10px;
// }

// page-cust-profile{

// }

// Start of main code.

// $break-small: 320px;
// $break-large: 1200px;

// *{
// 	box-sizing: border-box!important;
// }

// body{
// 	margin: 0;
// 	padding: 0;
// }

// img{
// 	max-width: 100vw;
// }

// nav{
// 	background: linear-gradient(rgba(0,0,0,0.7), transparent);
// 	box-shadow: none;
// 	top: 0;
// 	width: 100%;
// 	position: fixed;
// 	// height: 2em;
// 	padding: 0 0.5em;
// 	display: flex;
// 	align-items: center;
// 	margin: 0;
// 	z-index: 100;
// }

// nav{
// 	a:hover{
// 		color: white;
// 		text-decoration: none!important;
// 	}

// 	.center, .right, .left{
// 		top: -0.5em;
// 		position: absolute;
// 	}

// 	.right{
// 		right: 0.5em;
// 	}

// 	.left{
// 		left: 0.5em;
// 	}

// 	.center{
// 		position: absolute;
// 		left: 50%;
// 		transform: translate(-50%, 0);
// 		color: white;
// 		text-decoration: none;
// 		font-family: "Raleway medium";
// 		letter-spacing: 0.05em;
// 	}
// }

// .container{
// 	padding: 0!important;
// 	margin: 0!important;
// 	min-height: 90vh;
// 	width: 100%;
// 	min-width: unset!important;
// }





