<!--
  Generated template for the HomeCustPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar>
		<button ion-button menuToggle icon-only (click)="menuToggle()">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Home</ion-title>
		<ion-buttons end>
			
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar>
		<ion-segment [(ngModel)]="view" color="secondary">
			<ion-segment-button value="diner" (click)="slide(0)" selected>Diners</ion-segment-button>
			<ion-segment-button value="map" (click)="slide(1)">Map</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-menu id="cust-menu" type="overlay" [content]="custContent">
	<ion-content>
		<ion-list no-lines>
			<ion-item>
				<ion-avatar item-start>
					<img src="assets/imgs/CustAvatar.png" (click)="openProfile()">
				</ion-avatar>
				<h2 text-nowrap (click)="openProfile()" color="secondary">{{name}}</h2>
				<p text-nowrap icon-start>
					{{email}}
				</p>
			</ion-item>
			<ion-item (click)="openFavorites()">
				<p text-nowrap icon-start>
					<ion-icon name="heart" class="red"></ion-icon> 
					Favorites: {{favorites}}
				</p>
			</ion-item>
		</ion-list>
		<ion-list>
			<button ion-item icon-start (click)="openProfile()">
				<ion-icon class="green" name="person"></ion-icon> 
				Profile
			</button>
			<button ion-item icon-start (click)="openNotifications()">
				<ion-icon class="purple" name="notifications"></ion-icon>
				Notifications
			</button>
			<button ion-item icon-start (click)="openCombo()">
				<ion-icon class="yellow" name="pizza"></ion-icon> 
				Combo
			</button>
			<button ion-item icon-start (click)="openScanner()">
				<ion-icon class="blue" name="qr-scanner"></ion-icon> 
				Scanner
			</button>
		</ion-list>
	</ion-content>
	<ion-footer padding>
		<button ion-button outline round icon-start color="danger" (click)="logout()">
			<ion-icon color="danger" name="log-out"></ion-icon> 
			Logout
		</button>
	</ion-footer>
</ion-menu>

<ion-nav #custContent [root]="HomeCustPage"></ion-nav>

<ion-content padding>
	<ion-slides>
		<ion-slide>
			<div class="auto-scroll">
				<ion-list>
					<ion-item *ngIf="ordered" icon-left (click)="viewMyOrder()">
						
						<ion-icon name="eye" item-left color="secondary"></ion-icon>
					</ion-item>
					<ion-item *ngFor="let diner of dinerList" [class.hidden]="diner.distance > 1.5">
						<ion-avatar item-left (click)="viewDiner(diner.id)">
							<img src="assets/imgs/DinerAvatar.png">
						</ion-avatar>
						<h2 class="name">{{diner.name}}</h2>
						<div>
							<p class="distance">
								<ion-icon name="pin" color="danger"></ion-icon>
								{{diner.distance}} km
							</p>
							<p class="crowd">
								<ion-icon name="people" color="secondary"></ion-icon>
								{{diner.customers}}
							</p>
						</div>
						<button *ngIf="!ordered" ion-button float-right round outline color="secondary" (click)="orderHere(diner.id)">
							Order here
						</button>
					</ion-item>
				</ion-list>
			</div>
		</ion-slide>
		<ion-slide>
			<div #map id="map"></div>
		</ion-slide>
	</ion-slides>
</ion-content>
