page-diner-profile-edit {
	h5{
		letter-spacing: 0.05em;
		font-weight: normal;
		font-size: 1em;
		padding-top: 1em;
		color: #AAA;
	}

	.ios, .md {
		.scroll {
			height: 100%
		}

		// #map {
		// 	width: 100%;
		// 	height: 100%;
		// }
	}

	#map{
		height: 10em;
	}
}
